{% extends 'admin/layout/base.html.twig' %}

{% block title %}Editar usuario {{  user.name }} - {{ getCompany().name|default('Nonamed') }}{% endblock %}

{% block sidebarMenu %}
    {% set section, page = 'admin', 'userIndex' %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.css">
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title text-primary-d2">
            {{  user.name }}
            <small class="page-info text-secondary-d2">
                <i class="fa fa-angle-double-right text-80"></i>
                Editar usuario
            </small>
        </h1>    
            
        <div class="page-tools">
            <a href="{{ path('user_index') }}">Volver al listado</a>
        </div>
    </div>           

    <div class="h-1 my-1"></div>
        
    {{ include('admin/user/_form.html.twig', {'button_label': 'Actualizar'}) }}    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/basictable/jquery.basictable.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.all.min.js"></script>       
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.js"></script>
    <script src="/js/admin/template/summernote-es-ES.js"></script>
        
    <script type="text/javascript" src="/js/admin/userForm.js"></script> 
{% endblock %}
