{% extends 'admin/layout/base.html.twig' %}

{% block title %}Editar curso - {{ getCompany().name|default('Nonamed') }}{% endblock %}

{% block sidebarMenu %}
    {% set section, page = 'course', 'courseIndex' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title text-primary-d2">
            {{  course.title|default('Sin título') }}
            <small class="page-info text-secondary-d2">
                <i class="fa fa-angle-double-right text-80"></i>
                Editar curso
            </small>
        </h1>    
            
        <div class="page-tools"> 
            <a href="{{ path('course_show', {id: course.id}) }}">Volver</a>
        </div>
    </div>           

    <div class="h-1 my-1"></div>
        
    {{ include('admin/course/_form.html.twig', {'course': course, 'button_label': 'Actualizar'}) }}    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/js/admin/courseForm.js"></script> 
{% endblock %}