{% extends 'admin/layout/base.html.twig' %}

{% block title %}Editar actividad - {{ getCompany().name|default('Nonamed') }}{% endblock %}

{% block sidebarMenu %}
    {% set section, page = 'website', 'websiteIndex' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title text-primary-d2">
            {{  activity.name|default('Sin nombre') }}
            <small class="page-info text-secondary-d2">
                <i class="fa fa-angle-double-right text-80"></i>
                Editar actividad
            </small>
        </h1>    
            
        <div class="page-tools">
            <a href="{{ path('website_index', {'tab':'activity'}) }}">Volver al listado</a>
        </div>
    </div>           

    <div class="h-1 my-1"></div>
        
    {{ include('admin/website/activity/_form.html.twig', {'button_label': 'Actualizar'}) }}    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/js/admin/activityForm.js"></script> 
{% endblock %}
