<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ getCompany().name|default('Nonamed') }}</title>
        <link rel="icon" type="image/png" href="/images/logoMini.png" />                
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />        
        <link href="/css/frontend/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #212529;">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('home') }}#page-top"><img src="images/logoInvert.png" alt="" /></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menú
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home') }}#services">Aprender</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home') }}#team">El equipo</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home') }}#course">Clases</a></li>                        
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home') }}#references">Referencias</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ path('home') }}#contact">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        
        <div class="container" style="min-height: 50px;"></div>
                        
        <section class="page-section bg-light" id="aboutus">
            <div class="container">                
                <div class="row">
                    <div class="col-sm">                        
                        {{ param|websiteParam|raw }}                        
                    </div>
                </div>
            </div>
        </section>                 
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">© {{ getCompany().name|default('Nonamed') }} {{ 'now'|date('Y') }}</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                        <a class="mr-3" href="{{ path('privacy') }}">Política de privacidad</a>
                        <a href="{{ path('terms') }}">Términos de uso</a>
                    </div>
                </div>
            </div>
        </footer>
                 
        <div class="alert text-center cookiealert" role="alert">
            <b>¿Aceptas nuestras cookies?</b> Usamos cookies para asegurarnos que tienes la mejor experiencia en nuestro sitio web. <a href="{{ path('cookies') }}">Más información</a>

            <button type="button" class="btn btn-primary btn-sm acceptcookies">
                Acepto
            </button>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>        
        <!-- Contact form JS-->
        <script src="js/frontend/jqBootstrapValidation.js"></script>        
        <script src="js/frontend/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/frontend/cookieAlert.js"></script>
        <script src="js/frontend/scripts.js"></script>
    </body>
</html>